.auth-container {
    display: flex;
    flex-direction: row;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: 2px solid black;
    width: 90%;
    max-width: 1200px;
    min-height: 70vh;
    margin: 2rem auto;
    border-radius: 8px;
}

.auth-container-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-right: 1px solid #e0e0e0;
    background: #0f2027;
    background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    color: white;
}

.auth-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-around;
}

#auth-submit-button {
    margin-top: 1rem;
    background: #0f2027;
    background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
    background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .auth-container {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    * {
        overflow: hidden;
    }
}

a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    color: #e0e0e0;
}

img {
    filter: brightness(0) invert(1);
}
