.register-container {
    display: flex;
    flex-direction: row;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: 2px solid black;
    width: 90%;
    max-width: 1200px;
    min-height: 70vh;
    margin: 2rem auto;
    border-radius: 8px;
}

.register-container-welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-right: 1px solid #e0e0e0;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.register-input-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-around;
}

#register-submit-button {
    margin-top: 1rem;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .register-container {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    * {
        overflow: hidden;
    }
    
}

a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: #e0e0e0;
    cursor: pointer;
}

img {
    filter: brightness(0) invert(1);
}